# API Configuration
NEXT_PUBLIC_API_URL=https://api.zatix.id/api

# Environment
NODE_ENV=development

# Mock Control (set to "false" to disable mocks and force real API calls)
NEXT_PUBLIC_USE_MOCKS=false

# Midtrans Configuration
NEXT_PUBLIC_MIDTRANS_CLIENT_KEY=
MIDTRANS_SERVER_KEY=

